.u-section-1 {
  background-image: url("images/043cf6279d23f8c52c9afcf6371eb0d4466291e0f8f1d622d0fffe95d9605ebeb54907b6e01735277825f453cdd45c4e0ca57cf0e30d679dedd0b9_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 687px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 85px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 564px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 13px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 114px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-1 .u-group-1 {
  min-height: 401px;
  width: 534px;
  margin: 78px 63px 0 auto;
}

.u-section-1 .u-image-1 {
  background-image: url("images/wte4.png");
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 536px;
  height: 387px;
  animation-duration: 1000ms;
  margin: -76px auto 0 -112px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 35px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1 .u-group-1 {
    background-position: 50% 50%;
    margin-right: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 476px;
  }

  .u-section-1 .u-group-1 {
    width: 445px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 486px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 363px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 245px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 658px;
}

.u-section-2 .u-image-1 {
  width: 378px;
  height: 390px;
  animation-duration: 1000ms;
  margin: 134px auto 0 132px;
}

.u-section-2 .u-image-2 {
  width: 378px;
  height: 390px;
  animation-duration: 1000ms;
  margin: -390px 132px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 201px;
    margin-left: 60px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 137px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 77px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 351px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 351px;
  }
}