.u-section-1 {
  background-image: url("images/043cf6279d23f8c52c9afcf6371eb0d4466291e0f8f1d622d0fffe95d9605ebeb54907b6e01735277825f453cdd45c4e0ca57cf0e30d679dedd0b9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 371px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 168px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 202, 0) !important;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 441px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 132px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 843px;
}

.u-section-2 .u-tabs-1 {
  min-height: 740px;
  margin-top: 52px;
  margin-bottom: 52px;
}

.u-section-2 .u-tab-link-1 {
  background-image: none;
}

.u-section-2 .u-tab-link-2 {
  background-image: none;
}

.u-section-2 .u-tab-link-3 {
  background-image: none;
}

.u-section-2 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-4 {
  background-image: none;
}

.u-section-2 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-2 .u-tab-link-5 {
  background-image: none;
}

.u-section-2 .u-tab-pane-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-2 .u-form-1 {
  height: 523px;
  width: 456px;
  margin: 0 auto;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-label-1 {
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
}

.u-section-2 .u-input-1 {
  font-weight: 400;
  background-image: none;
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-2 {
  margin-left: 0;
}

.u-section-2 .u-label-2 {
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
}

.u-section-2 .u-input-2 {
  font-weight: 400;
  background-image: none;
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-label-3 {
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
}

.u-section-2 .u-input-3 {
  font-weight: 400;
  background-image: none;
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-label-4 {
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
}

.u-section-2 .u-input-4 {
  font-weight: 400;
  background-image: none;
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-label-5 {
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none solid rgb(0, 0, 0);
}

.u-section-2 .u-input-5 {
  font-weight: 400;
  background-image: none;
  font-size: 0.75rem;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  background-image: none;
  text-transform: none;
  font-weight: normal;
}

.u-section-2 .u-tab-pane-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-tabs-2 {
  min-height: 620px;
  width: 898px;
  margin: 0 auto;
}

.u-section-2 .u-tab-link-6 {
  padding: 10px 20px;
}

.u-section-2 .u-tab-link-7 {
  padding: 10px 20px;
}

.u-section-2 .u-tab-pane-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-table-1 {
  width: 610px;
  margin: 46px auto 0;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
}

.u-block-bf2e-245 {
  height: 46px;
}

.u-section-2 .u-tab-pane-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 23px;
}

.u-section-2 .u-form-2 {
  height: 492px;
  width: 421px;
  margin: 0 auto;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-label-6 {
  font-size: 0.75rem;
}

.u-section-2 .u-input-6 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-label-7 {
  font-size: 0.75rem;
}

.u-section-2 .u-input-7 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-label-8 {
  font-size: 0.75rem;
}

.u-section-2 .u-input-8 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-label-9 {
  font-size: 0.75rem;
}

.u-section-2 .u-input-9 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-11 {
  margin-left: 0;
}

.u-section-2 .u-label-10 {
  font-size: 0.75rem;
}

.u-section-2 .u-input-10 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-12 {
  margin-left: 0;
}

.u-section-2 .u-label-11 {
  font-size: 0.75rem;
}

.u-section-2 .u-input-11 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-13 {
  margin-left: 0;
}

.u-section-2 .u-label-12 {
  font-size: 0.75rem;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
}

.u-section-2 .u-tab-pane-5 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-form-3 {
  height: 404px;
  margin: 50px 245px 0 265px;
}

.u-section-2 .u-form-group-15 {
  margin-left: 0;
}

.u-section-2 .u-label-13 {
  font-size: 0.875rem;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-2 .u-input-12 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-16 {
  margin-left: 0;
}

.u-section-2 .u-label-14 {
  font-size: 0.875rem;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-2 .u-input-13 {
  font-size: 0.75rem;
}

.u-section-2 .u-form-group-17 {
  margin-left: 0;
}

.u-section-2 .u-label-15 {
  font-size: 0.875rem;
  text-decoration: none solid rgb(17, 17, 17);
}

.u-section-2 .u-input-14 {
  font-size: 0.75rem;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: -137px 288px 0 320px;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-tab-pane-6 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-table-2 {
  width: 900px;
  margin: 50px auto 0;
}

.u-section-2 .u-table-header-2 {
  background-image: none;
}

.u-block-bf2e-187 {
  height: 46px;
}

.u-section-2 .u-tab-pane-7 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-table-3 {
  width: 400px;
  margin: 51px auto 0;
}

.u-section-2 .u-table-header-3 {
  background-image: none;
}

.u-block-bf2e-220 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-tabs-2 {
    height: auto;
  }

  .u-section-2 .u-form-group-7 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-group-8 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-group-9 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-group-10 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-group-11 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-group-12 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-group-13 {
    min-height: 375px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-form-3 {
    width: 570px;
    margin-left: 165px;
    margin-right: 145px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 188px;
    margin-left: 220px;
  }

  .u-section-2 .u-table-2 {
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-tabs-2 {
    width: 720px;
  }

  .u-section-2 .u-form-3 {
    margin-left: 55px;
    margin-right: 35px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 78px;
    margin-left: 110px;
  }

  .u-section-2 .u-table-2 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-tabs-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-table-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-form-3 {
    width: 520px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 8px;
    margin-left: 40px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-table-2 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 320px;
  }

  .u-section-2 .u-tabs-2 {
    width: 340px;
  }

  .u-section-2 .u-table-1 {
    width: 320px;
  }

  .u-section-2 .u-form-2 {
    width: 320px;
  }

  .u-section-2 .u-form-3 {
    width: 320px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-table-2 {
    width: 320px;
  }

  .u-section-2 .u-table-3 {
    width: 320px;
  }
}