.u-section-1 {
  background-image: url("images/043cf6279d23f8c52c9afcf6371eb0d4466291e0f8f1d622d0fffe95d9605ebeb54907b6e01735277825f453cdd45c4e0ca57cf0e30d679dedd0b9_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 371px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 168px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 202, 0) !important;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 441px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 364px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 132px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}