<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/aop 
  http://www.springframework.org/schema/aop/spring-aop.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx 
  http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/mvc 
  http://www.springframework.org/schema/mvc/spring-mvc.xsd
  ">

	<context:component-scan base-package="com.Controller"/>
	<context:component-scan base-package="com.Service"/>
	<context:component-scan base-package="com.Repository"/>

	<tx:annotation-driven />
	<mvc:annotation-driven/>
	
	<!-- View Resolver -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>


	<!-- data source -->
	<bean
		class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="ds">
		<property name="driverClassName" value="${driver.class.name}"></property>
		<property name="url" value="${db.url}"></property>
		<property name="username" value="${db.username}"></property>
	</bean>

	<bean
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean"
		name="factory">

		<!-- data source -->
		<property name="dataSource" ref="ds"></property>

		<!-- hibernate properties -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<!-- annotated classes -->
		<property name="annotatedClasses">
			<list>
				    <value>com.Entity.User</value>
				    <value>com.Entity.Admin</value>
				    <value>com.Entity.Customer</value>
				    <value>com.Entity.ShippingDetails</value>
				    <value>com.Entity.CustomerMessage</value>
					<value>com.Entity.Category</value>
					<value>com.Entity.FoodItem</value>
					<value>com.Entity.Promo</value>
					<value>com.Entity.PromoFood</value>
					<value>com.Entity.DeliveryLocation</value>
					<value>com.Entity.CustomerOrder</value>
					<value>com.Entity.Payment</value>
					<value>com.Entity.Income</value>
					
			</list>
		</property>

	</bean>

	



	<bean class="org.springframework.orm.hibernate5.HibernateTemplate"
		name="hibernateTemplate">
		<property name="sessionFactory" ref="factory"></property>

	</bean>

	<bean
		class="org.springframework.orm.hibernate5.HibernateTransactionManager"
		name="transactionManager">
		<property name="sessionFactory" ref="factory"></property>
	</bean>


 	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>/WEB-INF/database.properties</value>
			</array>
		</property>
	</bean>

	<mvc:resources location="/WEB-INF/resources/"
		mapping="/resources/**" />

</beans>